@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

main > p {
  margin-bottom: 10px;
  text-indent: 10px;
}

figure.profile {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 40px 1%;
  min-width: 380px;
  max-width: 480px;
  width: 100%;
  background: #ffffff;
}
figure.profile * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.profile .image {
  position: relative;
  height: 250px;
  width: 250px;
  top: 20px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid #ffffff;
  -webkit-transform: scale(1.2);
  transform: scale(1.6);
  z-index: 1;
}
figure.profile > .image, figure.profile > .image > img {
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
figure.profile > .image > img {position: absolute; height: 100%;}
/* about info */
figure.profile > figcaption {position: absolute; width: 50%; padding: 20px;}
figure.profile > figcaption > h2,
figure.profile > figcaption > p {width: 100%; margin: 0; padding: 10px 0;}
figure.profile > figcaption > h2 {
  font-size: 1.3em;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
figure.profile > figcaption > h2 > span {font-weight: 800; margin-left: 5px;}
figure.profile > figcaption > p {font-size: 0.9em;}
figure.profile > figcaption > .icons {width: 100%;}
figure.profile > figcaption > .icons > a > i {
  font-size: 26px;
  padding: 5px;
  top: 50%;
  color: #000000;
}
figure.profile > figcaption > .icons > a {
  opacity: 0.3;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.profile > figcaption > .icons > a:hover {opacity: 0.8;}
/* user titles */
figure.profile > .position {
  width: 100%;
  text-align: left;
  padding: 15px 30px;
  font-size: 0.9em;
  opacity: 1;
  font-style: italic;
  color: #ffffff;
  background: #000000;
  clear: both;
  z-index: 1;
}
figure.profile.blue > .position {background: #20638f;}
figure.profile.red > .position {background: #962d22;}
figure.profile.yellow > .position {background: #bf6516;}
/* different profiles - odd */
figure.profile.odd > .image {right: -20%; float: right;}
figure.profile.odd > .image > img {left: -70%;}
figure.profile.odd > figcaption {left: 0;}
figure.profile.odd > figcaption > h2,
figure.profile.odd > figcaption > p {text-align: left;}
figure.profile.odd > figcaption > .icons {text-align: left;}
/* even */
figure.profile.even > .image {left: -20%; float: left;}
figure.profile.even > .image > img {left: 0;}
figure.profile.even > .position {text-align: right;}
figure.profile.even > figcaption {right: 0;}
figure.profile.even > figcaption > h2,
figure.profile.even > figcaption > p {text-align: right;}
figure.profile.even > figcaption > .icons {text-align: right;}

/* hover */
figure.profile:hover > .image,
figure.profile.odd:hover > .image {right: -15%;}
figure.profile:hover > .image > img,
figure.profile.odd:hover > .image > img {left: -60%;}
figure.profile.even:hover > .image {left: -15%;}
figure.profile.even:hover > .image > img {left: -10%;}
