/* clear browser styles */
input[type="text"], input[type="email"], input[type="tel"], input[type="number"], textarea { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; appearance: none; outline: none; box-shadow: none; border: none;}
*:focus {outline: none;}

/* Custom Request Form */
main > form[name='custom'] {
  border: 1px solid #555;
  margin: 40px auto;
  width: 100%;
  max-width: 500px;
}
  form[name='custom'] p {
    border-bottom: 1px solid #777;
  }
  form[name='custom'] p:not(:first-of-type) {}
  form[name='custom'] label,
  form[name='custom'] input,
  form[name='custom'] textarea {
    display: inline-block;
    vertical-align: top;
    padding: 3px 5px;
  }
  form[name='custom'] label {
    width: 29%;
    margin-top: 1px;
  }
  form[name='custom'] input:not([type='file']),
  form[name='custom'] textarea {
    background-color: transparent;
    color: #333;
    font-size: 0.9em;
    width: 70%;
  }
  form[name='custom'] textarea {
    resize: vertical;
    max-height: 400px;
  }
  form[name='custom'] button {
    display: block;
    width: 15%;
    margin: 10px auto 0;
    padding: 3px 5px;
  }
  form[name='custom'] input:focus,
  form[name='custom'] textarea:focus {
    color: black;
  }



/* Testimonies Slider */
main > article {
  width: 300px;
  background: red;
  text-align: center;
  position: relative;
  border: 3px solid #000;

  
}
main > article > ul {
  background-color: rgba(0,0,0,0.2);
}
main > article > ul > li {
  background: yellow;
}

.unslider-arrow {
  font-family: 'FontAwesome';
  padding: 10px;
  color: white;
  background: rgba(0,0,0,0.35);
  border-radius: 50%;
}
.unslider-arrow.prev:before {
  content: '\f053';
  left: 50%;
}
.unslider-arrow.next:before {
  content: '\f054';
  right: 50%;
}

figure.testimony {
  font-family: '', Arial, sans-serif;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 250px;
  margin: 10px 1% 12px;
  margin-bottom: 12px;
  /*
  background-color: white;
  background-image: linear-gradient(-25deg, rgba(0,0,0,0.15) 0%, rgba(0,0,0, 0.1) 100%);
  box-shadow: inset rgba(0,0,0,0.25) 0 1px 3px, white 0 1px 1px;
  */
}
figure.testimony img {
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 0 1px rgba(0,0,0,0.25), 0 1px 5px rgba(0,0,0,0.25);
  border: solid 5px white;
}
figure.testimony figcaption {width: 100%;}
figure.testimony h4, figure.testimony h6 {font-weight: 300;}
figure.testimony h4 {margin: 5px 0;}
figure.testimony h6 {color: #a6a6a6;}
figure.testimony blockquote {
  padding: 10px 10px 10px 30px;
  margin-top: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: inset 0 -1.5px 3px rgba(0, 0, 0, 0.25);
  text-align: left;
  position: relative;
}
figure.testimony blockquote:before {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.25;
  font-style: normal;
  top: -5px;
  left: 5px;
}
